.main-page {
  position: relative;
  height: 100vh;

  &__inner {
    width: 55%;
    max-width: 1440px;
    position: absolute;
    height: max-content;
    margin: auto;
    top: 21%;
    left: 0;
    right: 0;
  }
}