.movies-page {
  position: relative;

  &__inner {
    min-width: 1280px;
    max-width: 1440px;
    margin: auto;
    height: 100%;
    width: 1280px;
    min-height: 100vh;
  }

  &__loader {
    width: 100px;
    height: 100px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.movies-sidebar__opened {
  margin-left: 0;
  width: 70%;
  min-width: auto;
}
