.App {
  text-align: center;
}

* {
  margin:0;
  padding:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#root {
  background: linear-gradient(to right, #EECFBA, #C5DDE8);
  /*background: radial-gradient(40% 50%, #FAECD5, #CAE4D8);*/
  height: auto;
  font-family: "Comic Sans MS";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
